div {
  display: inline-block;

  button {
    padding: .5rem 1rem;
    color: white;
    background-color: red;
    font-size: 1rem;
    border: none;
    outline: none;

    &.active {
      background-color: green;
    }
  }
}
